*{
  margin: 0px;
  padding:0px;
}

body{
  max-width: 100%;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}


.headers{
  text-align: center;
  height:200px;
  background-image:url(images/photo-1478774519940-123bd0ab1e0b.jpeg);
  color:white;
  background-size: cover;
}


.header-text{
  padding-top:40px;
  font-size:15px;
  letter-spacing: 12px;
  opacity:0.8;
}

.header-text2{
  padding-top: 18px;
font-size: 30px;
letter-spacing: 12px;
opacity:0.8;
}

.header-text3{
  font-size: 30px;
  letter-spacing: 12px;
  opacity:0.8;
}

.abouts{

  height: 500px;
  padding-top: 120px;
  background-image: url(images/photo-1541140134513-85a161dc4a00.jpeg);
  background-size: cover;
  
}

.myimage{
margin: 0 auto;
display: block;
  width: 300px;
  margin: auto;
}

.about-all{
  text-align: center;
  padding-top: 50px;
  opacity:0.6;
}

.abouts-text{
  font-size:45px;
  color: black;
  letter-spacing: 12px;
  font-weight:bold;
}

.services{
  height:580px;
  padding-top: 100px;
  background-color: rgb(71, 71, 71);
  color: #FFF;
}

.services p{
  opacity: 0.8;
  padding-left: 10px;
  padding-top: 20px;
}

.service-text{
  padding-left: 20px;
  opacity: 0.8;
  font-size:40px;
  color: rgb(255, 255, 255);
  letter-spacing: 12px;
  font-weight:bold;
  border-bottom:solid 3px rgb(255, 255, 255);
}

.service-text2{
  font-size: 30px;
  padding-left: 20px;
  padding-top: 100px;
  opacity: 0.8;
}

.skills{
  height: 620px;
  padding-top:80px;
  background-image: url(images/photo-1541140134513-85a161dc4a00.jpeg);
  background-size: cover;
}

.skill-text{
  padding-left: 20px;
  opacity:0.6;
  font-size:40px;
  color: black;
  letter-spacing: 12px;
  font-weight:bold;
  border-bottom:solid 3px rgb(0, 0, 0);
}

.graf1{
  display: block;
  width: 300px;
  margin:0 auto;
  padding-top:20px ;
}

.graf2{
  display: block;
  width: 250px;
  margin:0 auto;
}

.portforio{
  height:1200px;
  padding-top: 100px;
  background-color: rgb(71, 71, 71);
  color: #FFF;
}

.portfolioc{
  text-align: center;
}

.youtube{
  text-align: center;
}

.youtube img:hover{
  transition: 0.5s;
  opacity:0.2;
}

.portforio p{
  padding-top:70px ;
}

.port-text{
  padding-left: 20px;
  opacity: 0.8;
  font-size:40px;
  color: rgb(255, 255, 255);
  letter-spacing: 12px;
  font-weight:bold;
  border-bottom:solid 3px rgb(255, 255, 255);
}

.youtube img{
  padding-top: 20px;
  margin: 0 auto;
  display: block;
    width: 300px;
    margin: auto;
}

.timeline{
  height: 650px;
  padding-top:70px;
  background-image: url(images/photo-1541140134513-85a161dc4a00.jpeg);
  background-size: cover;
  
}



.timeline p{
  padding-top:30px;
  padding-left: 10px;
  opacity: 0.8;
}

.time-text{
  padding-left: 20px;
  opacity:0.6;
  font-size:40px;
  color: black;
  letter-spacing: 12px;
  font-weight:bold;
  border-bottom:solid 3px rgb(0, 0, 0);
}

.time-text2{
  padding-left: 10px;
  opacity:0.6;
  padding-top: 50px;
  font-weight: bold;
  font-size: 20px;
}



.contact{
  height:170px;
  padding-top: 20px;
  background-color: rgb(71, 71, 71);
  color: #FFF;
  text-align: center;
}

.contact p{
padding-top: 30px;
font-size: 20px;
opacity: 0.8;
}

.con-text{
  opacity: 0.8;
  font-size:40px;
  color: rgb(255, 255, 255);
  letter-spacing: 12px;
  font-weight:bold;
  border-bottom:solid 3px rgb(255, 255, 255);
}
